h1, h2, h3 {
    font-family: Poppins !important;
}
.gloria-hero {
    min-height: 95vh;
    width: 100%;
    background-color: #009fe3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    color: #ffffff;
}

.hero-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-wrap: balance;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-block: 20px;
}
.hero-titles h1 {
    font-size: 56px;
    font-weight: bold;
    padding-block: 20px;
    
}
.hero-actions {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-block: 20px;
}
.button-tercero {
    background: transparent;
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid white;
    transition: 0.3s;
}
.button-tercero:hover {
    background: #ffffff;
    color: #009fe3;
    font-weight: bold;
    border: none;
}
/* seccion conoce gloria */
.conoce-gloria {
    display: grid;
    place-items: center;
    text-align: center;
}
.subtitulo {
    color: #706F6F;
}




/* MEDIA QUERIES */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 980px and up) */
@media only screen and (min-width: 980px) {
    .gloria-hero {
        align-items: flex-start;
        padding: 100px;
    }
    .hero-titles {
        align-items: flex-start;
        text-align: start;
        padding-block: 20px;
        max-width: 50%;
    }
    /* CONOCE GLORIA */
    .conoce-gloria h2 {
        font-size: 72px;
        text-wrap: balance;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}